<meta charset="utf-8" />
<title>فرم ورود</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description" />
<meta content="" name="author" />
<link rel="icon" type="image/x-icon" href="@Url.Content("~/Media/logo.png")">
<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="../../assets/admin/pages/css/login-soft-rtl.css" rel="stylesheet" type="text/css" />
<link href="../../assets/global/css/components-md-rtl.css" id="style_components" rel="stylesheet" type="text/css" />
<link href="../../assets/global/css/plugins-md-rtl.css" rel="stylesheet" type="text/css" />
<link href="../../assets/admin/layout/css/layout-rtl.css" rel="stylesheet" type="text/css" />
<link id="style_color" href="../../assets/admin/layout/css/themes/darkblue-rtl.css" rel="stylesheet" type="text/css" />

<link href="~/assets/admin/layout/css/custom-rtl.css" rel="stylesheet" />
<style>
    body {
        font-family: iransans;
    }

    @@font-face {
        font-family: 'iransans';
        src: url("../../fonts/IRANSansWeb.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
</style>