
@model DateTime?
@{
    var placeholder = string.Empty;

    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }
    var name = (ViewData.ModelMetadata).PropertyName;
    var required = ViewData.ModelMetadata.IsRequired;
}

<div class="form-group  row @string.Format("{0}",required?"rqd":"")">
    @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-form-label col-md-5" })
    <div class="col-sm-7" style="padding: 0px 0px 0px 0px;top: -7px;left: 0px;">
        @Html.MyHelper().TreasuryTextBoxFor(model => model, TextBoxType.NullableDate)
        @if (required)
        {
            <span class="field-validation-valid text-danger" data-valmsg-for="@string.Format("{0}Str",name)" data-valmsg-replace="true"></span>
        }
    </div>
</div>

