@model bool
<style type="text/css">
</style>
@{
    var name = (ViewData.ModelMetadata).PropertyName;
}
<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "control-label col-form-label col-md-8 text-right" })
    <div class="col-sm-4">
        @Html.CheckBoxFor(model => model)
    </div>
</div>
