

@model string

@{

    var placeholder = string.Empty;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }
}


<div class="input-group">
    <div class="input-group-addon">
        @Html.LabelFor(m=>Model )
    </div>
    @Html.PasswordFor(model=>model)
    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
</div>