@using System
@using System.Collections.Generic
@using AttendanceCRMWeb.Helpers
@using AttendanceCRMWeb.Helpers.Enum
@model ViewModel.Security.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = Utility.Utitlies.VaribleForName.AddressLayoutMasterNew;
}


<link href="~/assets/global/css/Calstyle.css" rel="stylesheet" />
<script src="~/assets/global/scripts/jscolor.js"></script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Home/index">خانه اصلی</a>

                <span class="divider">
                    <i class="icon-angle-left arrow-icon"></i>
                </span>
            </li>
            <li class="active">تغییر رمز عبور</li>
        </ul>
    </div>

    <div class="card">
        <div class="card-body">
            @using (Html.MyHelper().Formtitle("تغییر رمز عبور", PortletStyle.green))
            {
                using (Html.BeginForm("ChangePassword", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(m => m.OldPassword)
                    @Html.EditorFor(m => m.NewPassword)
                    @Html.EditorFor(m => m.ConfirmPassword)


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                @Html.MyHelper().Button("ثبت", ButtonType.Submit, ButtonStyle.Info, ButtonIconType.Save, new { style = "width:130px;float: right;" })
                                @*@Html.MyHelper().CancelFormLink(Url.Action("Index", "Register", new { Area = "BasicInfo" }))*@
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
