
@{
    ViewBag.Title = "HomePage";
    Layout = Utility.Utitlies.VaribleForName.AddressLayoutMasterNew;
}
@*<link href="~/Content/Style/css/bootstrap.css" rel="stylesheet" />

<link href="~/Content/Style/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Style/css/styles.css" rel="stylesheet" type="text/css" />*@
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">خانه اصلی</li>

        </ul>

    </div>
  
    <div class="page" style="background-image: url('../../../../Content/Image/Img/bg3.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="parnian-logo"></div>
                    <div class="boxrow" id="boxrow1" >
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box grayed-box"></div>
                        <div class="box">

                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_10.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_10.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_9.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_9.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box"></div>

                    </div>

                    <div class="boxrow" id="boxrow2" >
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box"></div>
                        <div class="box grayed-box"></div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_8.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_8.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_6.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_6.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="boxrow" id="boxrow3" >
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_7.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_7.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_1.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_1.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_2.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_2.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_3.jpg" />

                                        <div class="thumb-detail">
                                            <img src="~/Content/Image/Img/logo1_3.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_4.jpg" />

                                        <div class="thumb-detail">

                                            <img src="~/Content/Image/Img/logo1_4.jpg" />

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <a href="#">
                                <div class="thumb flip">
                                    <div class="thumb-wrapper">
                                        <img src="~/Content/Image/Img/logo1_5.jpg" />

                                        <div class="thumb-detail">
                                            <img src="~/Content/Image/Img/logo1_5.jpg" />
                                          

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

@*<script src="~/Content/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
<script src="~/Content/js/modernizr.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
       
        if ($('html').hasClass('csstransforms3d')) {

            $('.thumb.flip').hover(
                function () {
                    $(this).find('.thumb-wrapper').addClass('flipIt');
                },
                function () {
                    $(this).find('.thumb-wrapper').removeClass('flipIt');
                }
            );

        } else {
            $('.thumb').removeClass('flip').addClass('scroll');
            $('.thumb').hover(
                function () {
                    $(this).find('.thumb-detail').stop().animate({bottom:0}, 500);
                },
                function () {
                    $(this).find('.thumb-detail').stop().animate({bottom: ($(this).height() * -1) }, 500);
                }
            );
        }
    });
</script>*@
