@model ViewModel.UserManagement.UserVm


<div class="col-md-12">
    @using (Html.BeginForm("ResetPassword", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        @Html.HiddenFor(m=>m.Id)
        <br>
        @Html.EditorFor(m => m.Password)
        <br>
        <br>
    }
</div>

