
@using AttendanceCRMWeb.Helpers
@using AttendanceCRMWeb.Helpers.Enum
@using Utility.HtmlHelpers
@{
    ViewBag.Title = Resources.Md.Report;
}
<style>
    .portlet.light.bordered > .portlet-title {
        min-height: 35px !important;
        height: 15px !important;
    }

    .portlet.light > .portlet-title > .caption {
        padding: 8px 0;
    }

    .portlet.light > .portlet-title > .tools {
        padding: 8px 0 13px 0;
    }

    .visual {
        width: 80px !important;
        display: block !important;
        /*padding-top: 33px !important;*/
        padding-right: 30% !important;
    }

        .visual > i {
            font-size: 40px !important;
        }

    .box-shadowDefult {
        width: 135px;
        min-height: 130px;
    }
</style>


@*@HtmlExtenstions.TitleAndSiteMap(Resources.Md.Report, "گزارشات")*@
@using (Html.BsPanel(Resources.Md.Report))
{

    <div class="col-12 center-block" id="accordion">

        <style>
            .card-body .lead span {
                color: red;
            }

            .card-body .row a {
                height: 120px;
                color: blue;
            }

                .card-body .row a i {
                    color: black;
                }

                .card-body .row a span {
                    color: red;
                }
        </style>

        @{
            var _menuItems = Service.Consts.Public.CurrentUser.Menus;

            <div class="card card-secondary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapse_1">
                    <div class="card-header">
                        <h4 class="card-title w-100"><span>1  - </span>گزارشات</h4>
                    </div>
                </a>
                <div id="collapse_1" class="collapse" data-parent="#accordion">
                    <div class="card-body">

                        <div class="row">

                            @foreach (var item in _menuItems.OrderBy(m => m.Priority).Where(m => m.EnName.StartsWith("AppReports.")))
                            {
                                <div class=" col-6 col-sm-3 col-md-2 d-flex align-items-stretch flex-column">
                                    <a class="btn btn-app bg-white" href="@item.Url"><i class="fas fa-industry mt-3 mb-2"></i><span>@item.Priority  - </span> @item.FaName</a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}




