 .container-custSelector{ background-color:white;  border:solid 1px #ccc;  overflow:hidden;  min-height:30px;  padding:0 2px}

 .container-custSelector input{background-color: transparent; border:none !important;  width:80px !important;  height:10px !important;  margin:4px 2px !important;  padding:6px !important}

 .container-custSelector input.error{background: #FBE3E4;}

 .container-custSelector input:focus{background: #eee;}

 .popup-custSelector{ border:solid 1px #ccc;  position:absolute;  overflow-x:hidden;  overflow-y:auto;  background-color:white;  box-shadow:0 5px 10px rgba(0,0,0,0.2);  -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);  -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2)}

 .popup-item-custSelector img{ width:24px;  height:24px;  padding:0 5px}

 .popup-item-custSelector{ overflow:hidden;  padding:5px;  transition:all .3s;  -moz-transition:all .3s;  cursor:pointer}

 .popup-item-custSelector:hover{ color:white}

 .popup-item-custSelector:hover .popup-item-code-custSelector{ color:#ddd}

 .popup-item-custSelector:hover .popup-item-name-custSelector{ color:#fff}

 .popup-item-custSelector:hover .popup-item-label-custSelector{ color:#444;  background-color:#fff}

 .popup-item-code-custSelector{ color:#888}

 .popup-item-label-custSelector{ background-color:#c2c2c2;  padding:3px 5px;  margin:3px 5px 0 5px;  color:white;  border-radius:2px;  -moz-border-radius:2px;  -webkit-border-radius:2px}

 .tag-custSelector{ background-color:#E0E0E0;  min-width:25px;  margin:4px 2px;  line-height:22px;  padding:0 5px;  border-radius:2px;  -moz-border-radius:2px;  -webkit-border-radius:2px}

 .tag-custSelector .icon-times{ color:#777;  cursor:pointer;  margin:0 2px}

 .tag-custSelector .icon-times:hover{ color:#000}
