body {
}

.DivMain {
    width: 100%;
    overflow: auto;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    /*border: 1px solid #E2E2E2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #FAFAFA;
    -moz-box-shadow: 0 0 1px 1px #FAFAFA;
    height: 100%;
    padding: 1px;*/
}

.showButtenNew {
    display: block!important;
    width: 51px!important;
}

.DivMain .DeleteEvent {
    text-align: center !important;
    background-color: #F7F7F7 !important;
    font-weight: bold;
    padding-top: 35px;
    height: 90px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.DivMain .searchLogBox {
    /*width: 97%!important;*/
    background: #F7F7F7;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px #CCC;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-right: auto;
    margin-left: auto;
    height: 27px;
}

.DivMain .labelSearch {
    padding: 7px 6px 10px 6px;
}

.DivMain .txtSearch {
    box-shadow: 1px 1px #AAA;
    background: #FCFCFC;
    font-weight: normal;
    color: #555;
    padding: 6px;
    margin-top: 0px;
    border: 1px #DDD solid!important;
    width: 120px;
    height: 11px;
}

.DivMain .btnSearchLog {
    margin-right: -2px;
    padding: 6px 4px 5px 4px;
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    box-shadow: 1px 1px #AAA;
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #E6E6E6;
    cursor: pointer;
}

.DivMain .ui-icon:active {
    position: relative;
    top: 1px;
}

.DivMain .showAdvancedSearch {
    line-height: 27px;
    margin-right: 5px;
    margin-left: 5px;
    color: #016CC4;
    font-size: 9px;
}

    .DivMain .showAdvancedSearch:hover {
        text-decoration: none;
    }


    .DivMain .showAdvancedSearch:active {
        position: relative;
        top: 1px;
    }

.DivMain .DivAdvancedSearch {
     height: 68px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #EEE;
    box-shadow: #AAA -1px 1px 2px;
    left: 145px;
    z-index: 2!important;
    direction: rtl;
    display: none;
    margin-right: auto;
    margin-left: auto;
    /*width: 463px;*/
}

.DivMain .txtAdvancedSearch {
    line-height: 47px;
    vertical-align: baseline;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 10px;
}

.DivMain #format1 {
    padding-bottom: 1px;
}

.DivMain #format2 {
    padding-bottom: 1px;
}

.DivMain .DateAdvancedSearch {
    display: inline-block;
    border: solid 1px #DDD;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*padding-right: 5px;
    padding-left: 5px;*/
    line-height: 23px;
    margin-right: 5px;
    margin-left: 5px;
        margin-bottom: 5px;
}

.DivMain .dateBox {
    direction: ltr;
    text-align: center;
    font-family: Tahoma;
    font-size: 8pt;
    width: 60px;
    border: solid 1px #AAA;
    border-radius: 3px;
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.DivMain .txtDateAdvancedSearch {
    margin-top: -2px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
}

.DivMain .ui-button {
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #AAA;
    background: #FFF url('../images/ui-bg_diagonals-small_100_f0efea_40x40.png') repeat-x 50% 50%;
    font-weight: normal;
    color: #212121;
    min-width: 64px;
    font-size: 10px;
}

.DivMain .ui-button-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.DivMain .ui-button-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.DivMain .ui-button-active {
    border: 1px solid #D3D3D3;
    background: #E6E6E6 url('../images/phpThumb_generated_thumbnailpng.png') repeat-x 50% 50%;
    font-weight: normal;
    color: #555;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.DivMain .txtTarikh {
    width: 66px;
    font-size: 12px;
    border: none;
    color: hsl(0, 0%, 53%);
    margin-top: -3px;
    text-align: center;
}

.DivMain .NewEvent {
    border: 1px solid #E6E6E6;
    border-radius: 4px 4px 4px 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    padding: 6px 4px;
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    box-shadow: 1px 1px #AAA;
    color: #818181;
    font-size: 10px;
    cursor: pointer;
}

    .DivMain .NewEvent:active {
        position: relative;
        top: 1px;
    }

.DivMain .Print {
    border: 1px solid #E6E6E6;
    border-radius: 4px 4px 4px 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    padding: 6px 4px;
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    box-shadow: 1px 1px #AAA;
    color: #818181;
    font-size: 10px;
    cursor: pointer;
}

    .DivMain .Print:active {
        position: relative;
        top: 1px;
    }

.DivMain .AllLog {
    border: 1px solid #E6E6E6;
    border-radius: 4px 4px 4px 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    padding: 6px 2px;
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    box-shadow: 1px 1px #AAA;
    color: #818181;
    font-size: 10px;
    cursor: pointer;
}

    .DivMain .AllLog:active {
        position: relative;
        top: 1px;
    }

.DivMain .AllLogClick {
    margin-top: 2px;
    background-image: linear-gradient(to bottom,#E6E6E6,#FFF);
    box-shadow: -1px -1px #AAA;
}

.DivMain .FirstEvent {
    background: #C9DBE3;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
    border: 2px solid #4B8DC3;
    border-radius: 3px;
    text-align: center;
    width: 91px;
    padding: 5px;
    font-family: Garamond, serif;
    line-height: 1em;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
    display: none;
    /*text-shadow: 0px 0px 0 #858585,1px 1px 0 #0B0B0B, 2px 2px 0 #000,3px 3px 2px rgba(0, 0, 0, 0.15),3px 3px 1px rgba(0, 0, 0, 0.5),0px 0px 2px rgba(0, 0, 0, 0.2);*/
}

.DivMain a:hover {
    text-decoration: none;
}

.DivMain .LastEvent {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #DBDBDB;
    box-shadow: 0 3px 0 0 #DBDBDB;
    border-radius: 5px 5px 5px 5px;
    background: #FFF;
    text-align: center;
    width: 49px;
    height: 24px;
    color: #969696;
    font-weight: bold;
    font-size: 12px;
    clear: both;
    vertical-align: bottom;
    padding-top: 9px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.DivMain .NoList {
    color: #318FC4;
    font-size: 11px;
    width: 23%!important;
    background: #F7F7F7;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px #CCC;
    margin-bottom: 15px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.Box .NoList {
    color: #318FC4;
    font-weight: 600;
    font-size: 14px;
    width: 50%!important;
    background: #F7F7F7;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px #CCC;
    margin-bottom: 15px;
    margin-top: 50px;
    padding: 14px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.DivMain .LoadImg {
    margin: -11px auto -12px;
    display: block;
    clear: both;
    padding-top: 1px;
}

.DivMain .FirstLoadImg {
    padding-top: 10px!important;
}

.layout-timeline.layout-timeline-mirror .EmptyDate {
    box-shadow: none!important;
    box-shadow: none!important;
    border: 0!important;
    background: transparent!important;
    top: -23px!important;
}

.layout-timeline.layout-timeline-mirror .EmptyPading {
    padding: 1px 0px 1px 0px!important;
    margin-top: -40px;
}

.layout-timeline.layout-timeline-mirror .timeline {
    float: right;
    width: 50%;
    padding-right: 6px;
    padding-left: 45px;
    margin-bottom: initial;
}

.layout-timeline *, .layout-timeline *:before, .layout-timeline *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.layout-timeline.layout-timeline-mirror .Box {
    margin: 0 auto 0px;
    position: relative;
    border: 1px solid #DBDBDB;
    box-shadow: 0 2px 0 0 #DBDBDB;
    border-radius: 4px;
    background: #F7F7F7;
    color: #979797;
}

.layout-timeline.layout-timeline-mirror .EditableBox {
    border: 3px solid #BDBDBD;
    /*background: #BDBDBD;*/
}

.layout-timeline.layout-timeline-mirror .DivLog {
    border-style: none;
    border-width: 1px;
    border-color: #F0F0F0 #F0F0F0 #CDCDCD #F0F0F0;
    margin-bottom: 0px;
}

.layout-timeline.layout-timeline-mirror .NewLog .Subject {
    /*text-indent: 4.3em;*/
}

.layout-timeline.layout-timeline-mirror .Box .comment {
    color: #7D7D7D;
    padding: 4px 1px 0px 1px;
}

.layout-timeline.layout-timeline-mirror .Box .HiddenText {
    /*color: #E4E4E4!important;*/
    padding-right: 5px!important;
    padding-left: 5px!important;
    /*text-indent: 0.3em!important;*/
    /*font-weight: 100!important;*/
}

.layout-timeline.layout-timeline-mirror .Box .Subject {
    font-weight: bold;
    margin-top: -3px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
    color: #979797;
    text-align: justify;
    text-indent: 4.5em;
    width: 99.9%;
    margin-right: 0px;
    margin-left: 1px;
    background: #F7F7F7;
    border: none;
    resize: none;
    font-family: tahoma;
    font-size: 11px;
    height: 23px;
}

    .layout-timeline.layout-timeline-mirror .Box .Subject div {
        text-indent: 0em;
    }

.layout-timeline.layout-timeline-mirror .SubjectComment {
    margin-top: -2px!important;
    padding-right: 3px!important;
    padding-left: 3px!important;
    color: #979797;
    text-align: justify;
    width: 99.9%;
    margin-right: 0px;
    margin-left: 0;
    background: #F7F7F7;
    border: none!important;
    font-family: tahoma;
    font-size: 11px;
    line-height: 1.75;
    resize: none;
    overflow: hidden;
}

.layout-timeline.layout-timeline-mirror .SubjectComment_ {
    margin-top: -2px!important;
    padding-right: 3px!important;
    padding-left: 3px!important;
    color: #979797;
    text-align: justify;
    width: 99.9%;
    margin-right: 0px;
    margin-left: 0;
    border: none!important;
    font-family: tahoma;
    font-size: 11px;
    line-height: 1.75;
    margin-bottom: 7px;
}

.DivMain .TempText {
    margin-top: -1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
    color: #979797;
    text-align: justify;
    width: 99.8%;
    margin-right: 0px;
    margin-left: 1px;
    background: #F7F7F7;
    border: none;
    resize: none;
    font-family: tahoma;
    font-size: 11px;
    line-height: 1.75;
    overflow: hidden;
    background-color: #FF9933;
}

.DivMain a {
    color: #06C!important;
}

.layout-timeline.layout-timeline-mirror .SubjectLinks {
    margin-top: -10px;
    margin-bottom: 2px;
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 1.55;
    padding-right: 3px;
    color: #979797;
    text-align: justify;
    padding-left: 3px;
    min-height: 1px;
}

    .layout-timeline.layout-timeline-mirror .SubjectLinks .LinkLink {
        color: #979797;
    }

.layout-timeline.layout-timeline-mirror .EditSubject {
    border-style: solid solid solid solid!important;
    border-width: 1px!important;
    border-color: #F0F0F0!important;
    background-color: #FFF!important;
    border-radius: 3px!important;
}

.layout-timeline.layout-timeline-mirror .EditSubjectComment {
    border-style: solid solid none solid!important;
    border-width: 1px!important;
    border-color: #F0F0F0!important;
    background-color: #FFF!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}

.layout-timeline.layout-timeline-mirror .EditSubjectLinks {
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #F0F0F0;
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.layout-timeline.layout-timeline-mirror .EditSubjectDelete {
    display: none;
}

.layout-timeline.layout-timeline-mirror .Box .tagLog {
    margin-top: -2px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 4px;
    line-height: 1.55;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FFF;
    color: #E4E4E4;
    display: none;
}

.layout-timeline.layout-timeline-mirror .SetTemptag {
    border-radius: 3px;
    border: 1px solid #F0F0F0;
    background-color: #FFF;
}

.layout-timeline.layout-timeline-mirror .RemoveTag {
    border-style: solid none none none;
    border-width: thin;
    border-color: #F0F0F0;
    margin-top: 3px;
    padding-bottom: 0px;
    background: #F7F7F7;
    width: 97%!important;
    min-height: 29px!important;
    height: 100%!important;
}

.layout-timeline.layout-timeline-mirror .EditTag {
    border: thin solid #F0F0F0;
    margin-top: -1px;
    padding-bottom: 0px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 3px;
    min-height: 29px!important;
    height: 100%!important;
    color: #979797!important;
}

.layout-timeline.layout-timeline-mirror .tmpDate {
    display: none;
    border-style: none;
    color: #B4B0B0;
    height: 15px;
    width: 69px;
    margin-top: 5.5px;
    font-size: 10px;
    background: #F7F7F7;
}

.layout-timeline.layout-timeline-mirror .LogComments {
    position: relative;
    margin-top: 9px;
    position: relative;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    /*display: none;*/
    /*height: 0px;
    transition: all 0.5s;
    visibility: hidden;*/
}

    .layout-timeline.layout-timeline-mirror .LogComments:after {
        position: absolute;
        top: -7px;
        right: 7px;
        display: inline-block;
        border-right: 7px solid rgba(0, 0, 0, 0);
        border-bottom: 7px solid #E0E0E0;
        border-left: 7px solid rgba(0, 0, 0, 0);
        border-bottom-color: #E0E0E0;
        content: '';
    }

.layout-timeline.layout-timeline-mirror .DivInsertComment .layout-timeline.layout-timeline-mirror .MainDivComment {
    margin-top: -6px;
    display: none;
}

.layout-timeline.layout-timeline-mirror .DivComment {
    position: relative;
    margin-top: 8px;
    position: relative;
    border: 1px solid #E6E6E6;
    padding: 1px;
    background: #ECECEC;
}

    .layout-timeline.layout-timeline-mirror .DivComment:after {
        position: absolute;
        top: -8px;
        right: 10px;
        display: inline-block;
        border-right: 7px solid rgba(0, 0, 0, 0);
        border-bottom: 7px solid #E6E6E6;
        border-left: 7px solid rgba(0, 0, 0, 0);
        border-bottom-color: #E6E6E6;
        content: '';
        margin-bottom: -2px;
    }

.layout-timeline.layout-timeline-mirror .DivAddComment {
    padding-bottom: 2px;
    line-height: 1.55;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FFF;
    color: #C7C7C7;
    border: 1px solid #F0F0F0;
}

.layout-timeline.layout-timeline-mirror .DivInsertComment {
    display: none;
}

.layout-timeline.layout-timeline-mirror .NewBoxImageComment {
    margin-right: 4px;
    margin-top: 1px;
    padding: 1px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #FFF;
    border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DBDBDB;
    width: 31px;
    height: 31px;
    z-index: 2;
    position: relative;
}

.layout-timeline.layout-timeline-mirror .NewImageComment {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 27px;
    height: 27px;
}

.layout-timeline.layout-timeline-mirror .AddComment {
    padding-bottom: 4px;
    padding-top: 3px;
    padding-right: 5px;
    line-height: 1.55;
    border: 1px solid #F0F0F0;
    background-color: #FFF;
    color: #6F6F6F;
    min-height: 25px;
    margin-top: 1px;
}

.layout-timeline.layout-timeline-mirror .LaghvComment {
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    width: 24px;
     padding-top: 3px;
    height: 20px;
    color: #4e4e4e;
}

    .layout-timeline.layout-timeline-mirror .LaghvComment:hover {
        background-color: #C9DBE3;
    }

.layout-timeline.layout-timeline-mirror .SaveComment {
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    width: 24px;
    padding-top: 3px;
    height: 20px;
    color: #4e4e4e;
}

    .layout-timeline.layout-timeline-mirror .SaveComment:hover {
        background-color: #C9DBE3;
    }

.layout-timeline.layout-timeline-mirror .CommentBottun {
    height: 19px;
}

.layout-timeline.layout-timeline-mirror .CommentDiv {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #F8F8F8;
}

.layout-timeline.layout-timeline-mirror .CommentImage {
    margin-top: 1px;
    padding: 1px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #FFF;
    border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DBDBDB;
    width: 26px;
    height: 26px;
    position: relative;
}

.layout-timeline.layout-timeline-mirror .CommentImagePic {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 22px;
    height: 22px;
}

.layout-timeline.layout-timeline-mirror .CommentDateTime {
    margin-top: 4px;
    height: 12px;
}

.layout-timeline.layout-timeline-mirror .CommentTime {
    color: #B8B8B8;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.layout-timeline.layout-timeline-mirror .CommentText {
    padding-top: 3px;
    padding-bottom: 4px;
    color: #838383;
    min-height: 15px;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 2px;
    line-height: 1.55;
    text-align: justify;
    background: #ECECEC;
    font-family: tahoma;
}

.layout-timeline.layout-timeline-mirror .Commentauthor {
    color: #016CC4;
}



.layout-timeline.layout-timeline-mirror .viewallcomments {
    padding-bottom: 2px;
    line-height: 1.55;
    padding-left: 8px;
    padding-right: 8px;
    color: #9294DB;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #F8F8F8;
}

    .layout-timeline.layout-timeline-mirror .viewallcomments:hover {
        text-decoration: none;
    }

/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' Button Menuo */
.layout-timeline.layout-timeline-mirror .MenuoInDe {
    transition: all 0.7s;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    margin-top: 1px !important;
    width: 24px;
    height: 20px;
   color: #191818;
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
}

.layout-timeline.layout-timeline-mirror .Save {
    transition: all 0.7s;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    margin-top: 1px !important;
    width: 24px;
    height: 20px;
    color: #505050;
    padding-top: 3px;
    cursor: pointer;
}

.layout-timeline.layout-timeline-mirror .Edit {
    transition: all 0.7s;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    margin-top: 1px !important;
    width: 24px;
    height: 20px;
    color: #404040;
    cursor: pointer;
    padding-top:3px;
}
.layout-timeline.layout-timeline-mirror .Edit span{
    font-size:13px
}

.layout-timeline.layout-timeline-mirror .Delete {
    transition: all 0.7s;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    margin-top: 1px !important;
    width: 24px;
    height: 20px;
    color: #404040;
      padding-top:3px;
    cursor: pointer;
}
.layout-timeline.layout-timeline-mirror .Delete span{
    font-size:13px;
}

.layout-timeline.layout-timeline-mirror .Laghv {
    transition: all 0.7s;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #F0F0F0;
    margin-top: 1px !important;
    width: 24px;
    height: 20px;
       padding-top: 3px;
    color: #252525;
    cursor: pointer;
}

.layout-timeline.layout-timeline-mirror .ui-icon {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
}

.layout-timeline.layout-timeline-mirror .MenuoInDe:hover {
    background-color: #C9DBE3;
}

.layout-timeline.layout-timeline-mirror .Save:hover {
    background-color: #C9DBE3;
}

.layout-timeline.layout-timeline-mirror .Delete:hover {
    background-color: #C9DBE3;
}

.layout-timeline.layout-timeline-mirror .Edit:hover {
    background-color: #C9DBE3;
}

.layout-timeline.layout-timeline-mirror .Laghv:hover {
    background-color: #C9DBE3;
}

.layout-timeline.layout-timeline-mirror .ui-icon:active {
    position: relative;
    top: 1px;
}

.layout-timeline.layout-timeline-mirror .MenuoButten {
    height: 21px;
    overflow: hidden;
    width: 0px;
    display: none;
    text-align: -webkit-center;
}
/*''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/
.layout-timeline.layout-timeline-mirror .DateDay {
    font-weight: bold;
}

.layout-timeline.layout-timeline-mirror .DateMonth {
    text-transform: capitalize;
    font-size: 10px;
}

.layout-timeline.layout-timeline-mirror .DateYear {
    text-transform: uppercase;
    font-size: 9px;
}

.layout-timeline ul.timeline > li .time {
    top: 20px;
    display: block;
    line-height: 13px;
    border: 1px solid #DBDBDB;
    box-shadow: 0 3px 0 0 #DBDBDB;
    border-radius: 5px 5px 5px 5px;
    background: #FFF;
    z-index: 1;
    width: 50px;
    padding: 2px 0;
    text-align: center;
    position: absolute;
    left: -69px;
    font-size: 12px;
    color: #969696;
}

.layout-timeline ul.timeline > li .TimeDatePoint {
    position: absolute;
    top: 58px;
    width: 8px;
    height: 8px;
    background: #4B8DC3;
    margin-left: 20px;
}

.layout-timeline ul.timeline > li .TimeDateLine {
    position: absolute;
    top: 61px;
    width: 45px;
    height: 2px;
    background: #4B8DC3;
    margin-left: 24px;
}


/*.layout-timeline ul.timeline > li .time:before {
        display: block;
        content: "";
        position: absolute;
        right: 27px;
        top: 58px;
        width: 8px;
        height: 8px;
        background: hsl(30, 2%, 82%);
    }*/

/*.layout-timeline ul.timeline > li .time:after {
    display: block;
    content: "";
    position: absolute;
    right: -13px;
    top: 61px;
    width: 45px;
    height: 2px;
    background: hsl(207, 50%, 53%);
}*/

.layout-timeline ul.timeline > li .time .type {
    color: hsl(207, 50%, 53%);
    font-weight: bold;
}

.layout-timeline ul.timeline {
    list-style: none;
}

    .layout-timeline ul.timeline > li {
        position: relative;
        padding: 50px 0px 1px 0px!important;
    }

        .layout-timeline ul.timeline > li.active .time:before, .layout-timeline ul.timeline > li.active .time:after {
            background: hsl(207, 50%, 53%);
        }

        .layout-timeline ul.timeline > li.active:before {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: -45px;
            width: 2px;
            z-index: 2;
            background: hsl(207, 50%, 53%);
            z-index: 1;
        }
/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''عکس*/
.layout-timeline .media {
    font-size: 11px;
    margin: 0px 0 0px;
}

.layout-timeline.layout-timeline-mirror .media > .pull-left {
    margin-right: 4px;
    margin-top: 2px;
    padding: 1px;
    margin-left: 6px;
    background-color: hsl(0, 100%, 100%);
    width: 46px;
    height: 46px;
}

.layout-timeline.layout-timeline-mirror .thumb {
    border-radius: 5px 5px 5px 5px;
    margin-top: 1px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 1px;
    border: 1px solid #DBDBDB;
    background-color: #FFF;
    position: absolute;
}

    .layout-timeline.layout-timeline-mirror .thumb img {
        border-radius: 5px 5px 5px 5px;
        width: 42px;
        height: 42px;
    }

.layout-timeline .media .media-body {
    border-width: 1px;
    height: 23px;
    border-bottom-color: #F0F0F0;
    border-bottom-style: solid;
}

    .layout-timeline .media .media-body .author {
        color: #016CC4!important;
        margin-top: 4px;
        margin-right: 52px;
        margin-left: 52px;
    }

.layout-timeline .media .comment .Customer {
    color: #016CC4!important;
    font-weight: 400;
    margin-top: -3px;
    margin-bottom: 2px;
    padding-top: 2px;
    /*padding-bottom: 2px;*/
    line-height: 1.75;
    padding-right: 2px;
    /*min-height: 25px;*/
    text-align: justify;
    display: none;
    font-weight: 400;
    margin-right: 24px;
    margin-left: 26px;
}

.layout-timeline.layout-timeline-mirror .mutedTimeText {
    border-style: none;
    color: #B4B0B0;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    height: 22px;
    width: 29px;
    font-size: 11px;
    background: #F7F7F7;
    text-align: center;
    font-weight: bold;
}

.layout-timeline.layout-timeline-mirror .mutedTimeEdit {
    border-style: solid;
    border-width: thin;
    border-color: #F0F0F0;
    background: #FFF;
}

.layout-timeline.layout-timeline-mirror .mutedDateText {
    color: #B4B0B0;
    font-weight: bold;
    margin-top: 0px;
    width: 61px;
    height: 22px;
    font-size: 11px;
    display: none;
    text-align: center;
}

.layout-timeline.layout-timeline-mirror .mutedDateEdit {
    border-style: solid;
    border-width: thin;
    border-color: #F0F0F0;
}
/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''Odd*/

.layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even) {
    left: -100%;
    width: 100%;
    margin-left: -90px;
    /*margin-top: -20px;*/
}

.layout-timeline.layout-timeline-mirror .EmptyPading li:nth-child(even) {
    padding: 1px 0px 1px 0px!important;
    margin-top: -40px;
}

.layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even).active:before {
    left: auto;
    right: -47px;
}

.layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even) .time {
    left: auto;
    right: -71px;
    text-align: center;
    top: 28px;
    z-index: 1!important;
}

.layout-timeline ul.timeline > li:nth-child(even) .TimeDateLine {
    position: absolute;
    top: 61px;
    width: 45px;
    height: 2px;
    background: #4B8DC3;
    margin-left: -22px;
}


/*.layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even) .time:after {
        left: -13px;
        right: auto;
        z-index: -1;
    }*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.AcceptLogTag {
    padding-top: 5px;
}

    .AcceptLogTag .EditBox {
        border-radius: 3px;
        border: 1px solid #DBDBDB;
        width: 99%!important;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2px;
        padding-left: 2px;
        height: 28px;
        display: none;
    }

    .AcceptLogTag .ChangeBottun {
        padding: 5px;
        position: relative;
        display: inline-block;
        border-radius: 3px;
        height: 26px;
    }

    .AcceptLogTag .txtEdit {
        border: 1px #DDD solid!important;
        margin-left: 21px;
        margin-right: 9px;
        width: 256px;
        font-family: Tahoma,Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
        font-size: 11px;
        padding: 3px 7px 5px 7px;
    }

    .AcceptLogTag .txtChangeEdit {
        border: 1px #DDD solid!important;
        margin-left: 21px;
        margin-right: 9px;
        width: 256px;
        font-family: Tahoma,Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
        font-size: 11px;
        padding: 3px 7px 5px 7px;
        background-color: #F5F5F5;
    }

    .AcceptLogTag .txtChange {
        border: 1px #DDD solid!important;
        margin-left: 5px;
        margin-right: 5px;
        width: 256px;
        font-family: Tahoma,Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
        font-size: 11px;
        padding: 3px 7px 5px 7px;
    }

    .AcceptLogTag .txtEdit:active {
        background: #FCFCFC;
    }

    .AcceptLogTag .labelSearch {
        font-weight: normal!important;
        color: #898989;
        margin-top: 7px;
        margin-left: 5px;
        margin-right: 5px;
        clear: both;
    }

    .AcceptLogTag .SearchTagForAccept {
        border-radius: 3px;
        min-height: 52px;
        border: 1px solid #DBDBDB;
        width: 96%!important;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        padding: 10px;
        height: 65px;
    }

    .AcceptLogTag .tag {
        margin-bottom: 4px;
        line-height: 1.55;
        background-color: #FFF;
        color: #C7C7C7;
        border: 1px #DDD solid!important;
        margin-left: 5px;
        margin-right: 5px;
        font-family: Tahoma,Lucida Grande,Verdana,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
        font-size: 11px;
        padding: 3px 7px 5px 7px;
    }

    .AcceptLogTag .EditTag {
        border: thin solid #F0F0F0;
        border-radius: 3px;
        color: #979797!important;
        width: 256px!important;
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px 7px 5px 7px;
    }

    .AcceptLogTag .TagLable {
        font-weight: normal!important;
        color: #898989;
        margin-top: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .AcceptLogTag .TagChangeAccept {
        border-radius: 3px;
        height: 52px;
        border: 1px solid #DBDBDB;
        width: 99%!important;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        display: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2px;
        padding-left: 2px;
    }

.AcceptTags .NewBottun {
    display: none;
}

.AcceptTags .EditBottun {
    display: none;
}

.AcceptTags .DeleteBottun {
    display: none;
}

.AcceptTags .ChangeBottun {
    display: none;
}

.AcceptTags .LaghvBottun {
    display: none;
}

.PrintDiv {
    border-style: solid none none none;
    border-width: thin;
    border-color: #CCCCCC;
}

    .PrintDiv .Owner {
        margin-top: 4px;
        font-weight: bold;
        padding-right: 10px;
        padding-left: 10px;
    }

    .PrintDiv .Customer {
        height: 18px;
        margin-top: 4px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .PrintDiv .TimeText {
        color: #B4B0B0;
        margin-top: 4px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 11px;
        text-align: center;
    }

    .PrintDiv .LogBox {
        border-style: none none solid none;
        border-top-width: thin;
        border-bottom-width: thin;
        border-top-color: #C0C0C0;
        border-bottom-color: #C0C0C0;
        clear: both;
    }

    .PrintDiv .comment {
        border-style: solid none solid none;
        border-top-width: thin;
        border-bottom-width: thin;
        border-top-color: #FAFAFA;
        border-bottom-color: #FAFAFA;
        clear: both;
        padding-bottom: 15px;
    }

    .PrintDiv .Subject {
        font-weight: bold;
        line-height: 1.75;
        padding-right: 10px;
        padding-left: 10px;
        color: #979797;
        text-align: justify;
    }

    .PrintDiv .SubjectComment {
        line-height: 1.75;
        padding-right: 10px;
        padding-left: 10px;
        color: #979797;
        text-align: justify;
        font-family: tahoma;
        font-size: 11px;
    }

    .PrintDiv .TagLog {
        margin-top: -1px;
    }

    .PrintDiv .LogTagPrint {
        display: inline-block;
    }


.DivAdvancedPrint {
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #CDCDCD;
    height: 46px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 4px 4px;
    background-color: #EEE;
    z-index: 2 !important;
    direction: rtl;
    display: none;
    margin-right: auto;
    margin-left: auto;
    width: 110px;
}

    .DivAdvancedPrint .PrintKind {
        padding-bottom: 2px;
        line-height: 1.75;
        padding-right: 10px;
        padding-left: 10px;
    }

.DivMain .TotalRow {
    color: #979797;
    border: 1px solid #E6E6E6;
    border-radius: 4px 4px 4px 4px;
    margin-top: 1px;
    padding: 6px 2px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 9px;
}

.DivMain .SearchForms {
    display: inline-block;
    vertical-align: text-bottom;
}

.DivMain .SearchForms {
    display: inline-block;
    vertical-align: text-bottom;
}
/*......................................................*/
textarea {
    color: #3e4548;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

    textarea:invalid {
        background-color: #f0dddd;
    }

.wrap {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.flex-text-wrap {
    position: relative;
    *zoom: 1;
    display: none;
}

textarea, .flex-text-wrap {
    outline: 0;
    margin: 0;
    border: none;
    padding: 0;
    *padding-bottom: 0!important;
}

    .flex-text-wrap textarea, .flex-text-wrap pre {
        *white-space: pre;
        *word-wrap: break-word;
        white-space: pre-wrap;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    .flex-text-wrap textarea {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        resize: none;
        /* IE7 box-sizing fudge factor */
        *height: 94%;
        *width: 94%;
    }

    .flex-text-wrap pre {
        display: block;
        visibility: hidden;
    }

    textarea, .flex-text-wrap pre {
        line-height: 1.7;
        margin-bottom: 3px;
    }

/*------------------------------------------------------------------------------------------*/

/*@media DivContentLog and (max-width : 700px) {*/
.ResizeDiv .layout-timeline ul.timeline > li.active:before {
    margin-bottom: -10px;
}

.ResizeDiv .layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even) {
    left: 0px;
    width: 100%;
    margin-left: 0px;
}

.ResizeDiv .layout-timeline.layout-timeline-mirror .EmptyPading li:nth-child(even) {
    padding: 1px 0px 1px 0px!important;
    margin-top: -40px;
}

.ResizeDiv .layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even).active:before {
    right: auto!important;
    left: -45px;
}

.ResizeDiv .layout-timeline.layout-timeline-mirror ul.timeline > li:nth-child(even) .time {
    left: -69px;
    right: 0px;
    text-align: center;
    top: 28px;
    z-index: 1!important;
}

.ResizeDiv .layout-timeline ul.timeline > li:nth-child(even) .TimeDateLine {
    position: absolute;
    top: 61px;
    width: 45px;
    height: 2px;
    background: #4B8DC3;
    margin-left: 24px;
}

.ResizeDiv .layout-timeline.layout-timeline-mirror .EmptyPading:not(:first-child) {
    margin-top: 10px;
}

.ResizeDiv .layout-timeline.layout-timeline-mirror .timeline {
    width: 92%;
    margin-bottom: 10px;
}

 .ResizeDiv {
    min-width: 350px;
}

.ResizeDiv .LastEvent {
    margin-left: 9px;
}

.ResizeDiv .showAdvancedSearch {
    margin-right: 2px;
    margin-left: 4px;
}

.ResizeDiv .txtSearch {
    width: 52px;
}

.ResizeDiv .NewEvent {
    margin-left: 0px;
    margin-right: 0px;
    color: #818181;
    font-size: 12px;
    box-shadow: 0px 0px #AAA;
    background-image: none;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 11px;
    margin-top: 1px;
}

.ResizeDiv .AllLog {
    margin-left: 0px;
    margin-right: 0px;
    color: #818181;
    font-size: 13px;
    box-shadow: 0px 0px #AAA;
    background-image: none;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 11px;
    margin-top: 1px;
}

.ResizeDiv .Print {
    margin-left: 0px;
    margin-right: 0px;
    color: #818181;
    font-size: 13px;
    box-shadow: 0px 0px #AAA;
    background-image: none;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 11px;
    margin-top: 1px;
}

.ResizeDiv .DivAdvancedSearch {
    width: 98%;
       height: 99px;
}

.ResizeDiv .DivAdvancedPrint {
    height: 37px;
    margin-right: 0px;
    margin-left: 19px;
}

.ResizeDiv.searchLogBox {
    width: 95%!important;
}

.ResizeDiv .TotalRow {
    font-size: 9px;
    border-radius: 0px;
}

.ResizeDiv .labelSearch {
    font-size: 9px;
}

.ResizeDiv .btnSearchLog {
    padding: 4px 1px;
}

.ResizeDiv .AllLogClick {
    background-color: #E7E7E7;
    border-color: #C4C4C4;
}

/*  .ResizeDiv .txtAdvancedSearch {
        font-size: 9px;
    }

   .ResizeDiv   #format1 {
        font-size: 9px;
    }

    .ResizeDiv  #format2 {
        font-size: 9px;
    }*/

.ResizeDiv .txtDateAdvancedSearch {
    /*font-size: 9px;*/
    padding-right: 1px;
    padding-left: 1px;
}

.ResizeDiv .ui-button {
    min-width: 61px;
}

.ResizeDiv .dateBox {
    margin-left: 10px;
    margin-right: 10px;
}

.ResizeDiv .DateAdvancedSearch {
    clear: both;
    width: 96%;
    border: none;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #DDD;
    border-radius: 0px;
    margin-top: 2px;
    padding-top: 4px;
}

.ResizeDiv .labelSearch {
    padding: 7px 2px 10px 2px;
}
/*}*/

/*@media only screen and (min-width : 701px) {*/
.ResizeDivMin .searchLogBox {
    width: 483px!important;
}

.ResizeDivMin .DivAdvancedSearch {
    width: 468px;
}

.ResizeDivMin .dateBox {
    float: left;
}
/*}*/


/*@media DivContentLog and (max-width : 900px) {*/
.ResizeDivMax .layout-timeline.layout-timeline-mirror .mutedTime {
    clear: both;
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: -3px;
}

.ResizeDivMax .layout-timeline.layout-timeline-mirror .mutedDateEdit {
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: -3px;
}

.ResizeDivMax .layout-timeline.layout-timeline-mirror .Box .Subject {
    text-indent: 0em!important;
}
/*}*/



.DivLog .tag {
    cursor: pointer;
}

    .DivLog .tag:active {
        position: relative;
        top: 1px;
        box-shadow: 1px 1px #AAA;
    }

.DivAdvancedSearch .deleteFilter {
    text-align: center;
    color: #FFF;
    font-size: 10px;
    cursor: pointer;
    border-top: thin solid #BEBEBE;
    clear: both;
    padding: 3px;
    background-color: #C8CDD1;
}






