body[dir=rtl],
[dir=rtl] input,
[dir=rtl] button,
[dir=rtl] textarea,
[dir=rtl] select {
    font-family: 'IRANSans','IRANSansWeb',Tahoma;
}


body[dir=ltr],
[dir=ltr] input,
[dir=ltr] button,
[dir=ltr] textarea,
[dir=ltr] select {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


[dir=rtl] {
    direction: rtl;
    text-align: right;
}

    [dir=rtl] .float-left {
        float: left !important;
    }

    [dir=rtl] .float-right {
        float: right !important;
    }


[dir=ltr] {
    direction: ltr;
    text-align: left;
}

    [dir=ltr] .float-left {
        float: right !important;
    }

    [dir=ltr] .float-right {
        float: left !important;
    }


.ravesh-chat-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.ravesh-chat-scrollbar::-webkit-scrollbar-track {
    background: #f0f2f7;
}

.ravesh-chat-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
}

    .ravesh-chat-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }


.ravesh-chat-container {
    background: #E7EAF1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    line-height: 1.7;
}

.ravesh-chat-header {
    height: 70px;
    user-select: none;
}

[dir=rtl] .ravesh-chat-header {
    padding-left: 65px;
}

[dir=ltr] .ravesh-chat-header {
    padding-right: 65px;
}

.ravesh-chat-header-close {
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 15px;
    transition: all 0.3s;
}

    .ravesh-chat-header-close:hover {
        background-color: rgba(0,0,0,0.15);
    }

.ravesh-chat-header-agents {
    height: inherit;
    padding: 0 15px;
    overflow: hidden;
}

    .ravesh-chat-header-agents.multi {
        padding: 0 10px;
    }

    .ravesh-chat-header-agents div {
        width: 45px;
        height: 45px;
        margin-top: 12.5px;
        display: inline-block;
        position: relative;
    }

    .ravesh-chat-header-agents.multi div {
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }

    .ravesh-chat-header-agents img {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        border: solid 4px;
        -webkit-user-drag: none;
        user-drag: none;
        position: relative;
        box-sizing: border-box;
    }

    .ravesh-chat-header-agents span {
        width: 8px;
        height: 8px;
        background: #00ef66;
        border: solid 2px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 8px;
    }

    .ravesh-chat-header-agents div:nth-of-type(1) {
        z-index: 1;
    }

    .ravesh-chat-header-agents div:nth-of-type(2) {
        z-index: 2;
    }

    .ravesh-chat-header-agents div:nth-of-type(3) {
        z-index: 3;
    }

[dir=rtl] .ravesh-chat-header-agents.multi div {
    margin-right: -20px;
}

    [dir=rtl] .ravesh-chat-header-agents.multi div:nth-of-type(1) {
        margin-right: 0;
    }

[dir=ltr] .ravesh-chat-header-agents.multi div {
    margin-left: -20px;
}

    [dir=ltr] .ravesh-chat-header-agents.multi div:nth-of-type(1) {
        margin-left: 0;
    }

.ravesh-chat-header-title {
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    margin-top: 12px;
}

.ravesh-chat-header-detail {
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    opacity: 0.8;
}

.ravesh-chat-header-istyping {
    color: #fff;
    font-size: 10px;
    opacity: 0.8;
    display: none;
    font-style: italic;
}

[dir=rtl] .ravesh-chat-header-close {
    margin-left: -50px;
}

[dir=ltr] .ravesh-chat-header-close {
    margin-right: -50px;
}

/*-------------*/




.ravesh-chat-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}



    .ravesh-chat-content .chat-label {
        text-align: center;
        padding: 12px 0 24px;
        clear: both;
    }

        .ravesh-chat-content .chat-label .text {
            background: #edfafe;
            height: 25px;
            border-radius: 4px;
            color: #444;
            font-size: 8pt;
            text-align: center;
            line-height: 25px;
            padding: 0 15px;
            cursor: default;
            box-shadow: 0 2px 0 #D4D4D4;
            display: inline-block;
            user-select: none;
        }


    .ravesh-chat-content .message {
        margin: 0 20px 5px;
        position: relative;
        clear: both;
        max-width: 90%;
        min-width: 30%;
        box-sizing: border-box;
    }

        .ravesh-chat-content .message.self {
            float: right;
        }

        .ravesh-chat-content .message.other {
            float: left;
        }

        .ravesh-chat-content .message .avatar {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 5px;
            display: none;
            -webkit-user-drag: none;
            user-drag: none;
        }

        .ravesh-chat-content .message.has-avatar.arrow .avatar {
            display: block;
        }

        .ravesh-chat-content .message.self.has-avatar {
            padding-right: 40px;
            margin-right: 10px;
        }

        .ravesh-chat-content .message.other.has-avatar {
            padding-left: 40px;
            margin-left: 10px;
        }

        .ravesh-chat-content .message.self .avatar {
            right: 0;
        }

        .ravesh-chat-content .message.other .avatar {
            left: 0;
        }

        .ravesh-chat-content .message .popup {
            box-shadow: 0 2px 0 #D4D4D4;
            position: relative;
            font-size: 9pt;
            line-height: 1.5;
            border-radius: 5px;
            width: 100%;
            min-width: 60px;
        }


        .ravesh-chat-content .message.arrow {
            margin-bottom: 12px;
        }

            .ravesh-chat-content .message.arrow .popup:after {
                content: "";
                position: absolute;
                display: block;
                bottom: 0;
                width: 0;
                height: 0px;
                box-shadow: 0px 2px 0 #D4D4D4;
            }

        .ravesh-chat-content .message.self .popup {
            background: #EFFDDE;
            color: #78C67F;
            float: right;
        }

        .ravesh-chat-content .message.self.arrow .popup:after {
            right: -10px;
            border: 5px solid #EFFDDE;
            border-right-color: transparent;
            border-top-color: transparent;
        }

        .ravesh-chat-content .message.self.arrow .popup {
            border-bottom-right-radius: 0;
        }


        .ravesh-chat-content .message.other .popup {
            background: #fff;
            color: #A0ACB6;
            float: left;
        }

        .ravesh-chat-content .message.other.arrow .popup:after {
            left: -10px;
            border: 5px solid #fff;
            border-left-color: transparent;
            border-top-color: transparent;
        }

        .ravesh-chat-content .message.other.arrow .popup {
            border-bottom-left-radius: 0;
        }

        .ravesh-chat-content .message .popup .status {
            float: right;
            width: 22px;
            height: 22px;
            text-align: center;
            margin-right: 2px;
            padding: 3px;
            box-sizing: border-box;
        }

        .ravesh-chat-content .message .popup .status-3 {
            color: #ff5b5b;
        }


        .ravesh-chat-content .message .popup .date {
            float: right;
            font-size: 8pt;
            height: 22px;
            line-height: 24px;
            text-align: center;
        }

        .ravesh-chat-content .message.other .popup .status {
            display: none;
        }

        .ravesh-chat-content .message.other .popup .date {
            margin-right: 8px;
        }

        .ravesh-chat-content .message .popup .content {
            word-wrap: break-word;
            white-space: pre-wrap;
            position: relative;
            min-height: 15px;
        }

        .ravesh-chat-content .message .popup .content-type-0 a {
            color: #2196F3;
            text-decoration: none;
        }

            .ravesh-chat-content .message .popup .content-type-0 a:hover {
                text-decoration: underline;
            }

        .ravesh-chat-content .message .popup .content-type-0 {
            padding: 10px 10px 0;
            color: #000;
        }

        .ravesh-chat-content .message .popup .content-type-1 {
            padding: 5px 5px 2px;
            max-width: 275px;
        }

            .ravesh-chat-content .message .popup .content-type-1 img {
                max-width: 100%;
                display: block;
                min-width: 100px;
                min-height: 100px;
                border-radius: 4px;
            }

            .ravesh-chat-content .message .popup .content-type-1 .ch-loading {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0,0,0,0.3);
                padding: 4px;
                border-radius: 50%;
            }


        .ravesh-chat-content .message .popup .content-type-2,
        .ravesh-chat-content .message .popup .content-type-3,
        .ravesh-chat-content .message .popup .content-type-5 {
            overflow: hidden;
            padding-left: 63px;
            padding-right: 10px;
        }

            .ravesh-chat-content .message .popup .content-type-2 .ch-loading,
            .ravesh-chat-content .message .popup .content-type-3 .ch-loading {
                background: #78C67F;
                padding: 4px;
                border-radius: 50%;
                float: left;
                margin-left: -53px;
                margin-top: 10px;
            }

        .ravesh-chat-content .message .popup .content .message-title {
            font-weight: bold;
            color: #000;
            margin-top: 15px;
            font-size: 9pt;
            text-align: left;
            direction: ltr;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .ravesh-chat-content .message .popup .content .message-detail {
            font-size: 8pt;
            text-align: left;
            direction: ltr;
        }

        .ravesh-chat-content .message .popup .content .message-icon {
            color: #effdde;
            background: #78C67F;
            width: 43px;
            height: 43px;
            float: left;
            text-align: center;
            line-height: 35px;
            padding: 9.5px;
            border-radius: 50%;
            margin-top: 10px;
            font-size: 10pt;
            margin-left: -53px;
            box-sizing: border-box;
        }

        .ravesh-chat-content .message .popup .content .message-button {
            padding: 0 8px;
            background: rgba(96, 125, 139, 0.5);
            line-height: 28px;
            height: 28px;
            font-size: 10px;
            color: #fff;
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;
            border-radius: 4px;
            float:left;
        }

            .ravesh-chat-content .message .popup .content .message-button:hover {
                background: rgba(96, 125, 139, 0.7);
            }

        .ravesh-chat-content .message .popup .content .download:hover {
            background: #72b879;
        }

        .ravesh-chat-content .message.other .popup .content .download {
            background-color: #03A9F4;
        }

            .ravesh-chat-content .message.other .popup .content .download:hover {
                background-color: #039BE5;
            }






/*-------------*/

.ravesh-chat-footer {
    position: relative;
}

.ravesh-chat-panel-textarea {
    overflow: hidden;
    background: #fff;
}

[dir=rtl] .ravesh-chat-panel-textarea {
    padding-left: 80px;
}

[dir=ltr] .ravesh-chat-panel-textarea {
    padding-right: 80px;
}

.ravesh-chat-panel-textarea .ravesh-button {
    color: #bbb;
    width: 30px;
    padding: 3px;
    box-sizing: border-box;
    margin-top: 15px;
    transition: all 0.3s;
}

    .ravesh-chat-panel-textarea .ravesh-button:hover,
    .ravesh-chat-panel-textarea .ravesh-button.active {
        color: #888;
    }

[dir=rtl] .ravesh-chat-panel-textarea .emoji {
    margin-left: -40px;
}

[dir=rtl] .ravesh-chat-panel-textarea .send,
[dir=rtl] .ravesh-chat-panel-textarea .attach {
    margin-left: -70px;
}

[dir=ltr] .ravesh-chat-panel-textarea .emoji {
    margin-right: -40px;
}

[dir=ltr] .ravesh-chat-panel-textarea .send,
[dir=ltr] .ravesh-chat-panel-textarea .attach {
    margin-right: -70px;
}

.ravesh-chat-panel-textarea textarea {
    min-height: 40px;
    border: none;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 10px 20px;
    line-height: 40px;
    font-size: 9pt;
    width: 100%;
}

    .ravesh-chat-panel-textarea textarea::placeholder {
        color: #A8A8A8;
    }

.ravesh-chat-panel {
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
}


.ravesh-chat-emoji {
    max-height: 200px;
    overflow-y: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

    .ravesh-chat-emoji span {
        font-size: 28px;
        width: 50px;
        height: 50px;
        line-height: 55px;
        display: inline-block;
        cursor: pointer;
        transition: all 0.3s;
        user-select: none;
    }

        .ravesh-chat-emoji span:hover {
            transform: scale(1.4);
        }


.active .ravesh-upload-helper {
    display: block;
}

.ravesh-upload-helper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 15px;
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 10;
}

    .ravesh-upload-helper > div {
        border: dashed 2px #fff;
        height: 100%;
        box-sizing: border-box;
        color: #fff;
        position: relative;
    }

        .ravesh-upload-helper > div > div {
            text-align: center;
            font-size: 10pt;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50px);
        }

            .ravesh-upload-helper > div > div i {
                font-size: 20pt;
                margin-bottom: 5px;
                display: inline-block;
            }








@-webkit-keyframes ravesh-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

