


<div class="modal fade bd-example-modal-xl" role="dialog" id="modalMain">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="hMainTitleModal">Modal Header</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="divMainBodyModal" style="max-height: 500px; overflow-y: auto;">
                <p></p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Md.Close</button>
                <button type="button" class="btn btn-info" id="btnSaveModal">@Resources.Md.Save</button>*@
                <div class="form-group">
                    <div class="row" style="float:left;margin-left:10px;">
                        <div style="float:left;padding:5px;min-width: 135px;">
                            <a data-dismiss="modal" class="btn btn-block bg-danger btn-flat OperationButton" >
                                @Resources.Md.Close
                            </a>
                        </div>
                        <div style="float:left;padding:5px;min-width: 135px;" id="divbtnSaveModal">
                            <a id="btnSaveModal" class="btn btn-block bg-gradient-success btn-flat OperationButton" >
                                <i class="fa fa-save"></i>
                                @Resources.Md.Save
                            </a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
